
{% comment %}
Ecology workshops
{% endcomment %}


{% if site.curriculum == "dc-ecology" %}
<h3 id='spreadsheet'>Spreadsheet Installation</h3>
<p>You will need a spreadsheet program (like Microsoft Excel) for the 
  <a href='https://datacarpentry.org/spreadsheet-ecology-lesson/'>Data Organization in Spreadsheets</a> lesson.</p>
<p>If you do not have Microsoft Excel installed on your computer, you can use the Smithsonian-provided 
Office 365, available through <a href='https://telework.si.edu/'>telework.si.edu</a>. You can also use Google Sheets, if 
you are more familiar with that interface.</p>
<h3 id='openrefine'>OpenRefine Installation</h3>
<p>Please install OpenRefine 3.4 beta from <a href='http://openrefine.org/download.html'>http://openrefine.org/download.html</a>. If you
 have a Windows computer, choose "Windows kit with embedded Java". If you have a Mac computer, the only version provided does not 
 require Java.</p>
<p>If you are not able to install OpenRefine on your computer for any reason, we have a browser-based installation available at <a href='https://mybinder.org/v2/gh/SmithsonianWorkshops/binders/open_refine'>https://mybinder.org/v2/gh/SmithsonianWorkshops/binders/open_refine</a>.</p>
<h3 id='dbbrowser'>DB Browser for SQLite</h3>
<p>SQL is a specialized programming language used with databases.  We
  use a simple database manager called <a href="http://www.sqlite.org/">SQLite</a>
  in our lessons. We will use the <a href="http://sqlitebrowser.org/">DB Browser for SQLite</a> program,
  which is available for all major platforms. The latest version for <a href="https://download.sqlitebrowser.org/DB.Browser.for.SQLite-3.11.2.dmg">Mac</a> is here and Windows is <a href="https://download.sqlitebrowser.org/DB.Browser.for.SQLite-3.11.2-win64.zip">here</a>. On a Mac, open the .dmg file and then open the "DB Browser" icon. On Windows, extract the zipped file and then open "DB Browser for SQLite" icon in the extracted file.</p>
<h3 id='rstudio'>RStudio</h3>

{% if site.flavor == "r" %}
<p>
  The setup instructions for the Data Carpentry Ecology workshops (with R)
  can be found at <a href="https://datacarpentry.org/ecology-workshop/setup-r-workshop.html">
    the workshop overview site</a>.
</p>

{% elsif site.flavor == "python" %}
<p>
  The setup instructions for the Data Carpentry Ecology workshops (with Python)
  can be found at <a href="https://datacarpentry.org/ecology-workshop/setup-python-workshop.html">
    the workshop overview site</a>.
</p>
{% else %}
{% include warning-flavor.html %}
{% endif %}

{% comment %}
Genomics workshops
{% endcomment %}

{% elsif site.curriculum == "dc-genomics" %}
<p>The setup instructions for the Data Carpentry Genomics workshops can be found at <a href="https://datacarpentry.org/genomics-workshop/setup.html">the workshop overview site</a></p>.


{% comment %}
Social sciences workshops
{% endcomment %}

{% elsif site.curriculum == "dc-socsci" %}

{% if site.flavor == "r" %}
<p>
  The setup instructions for the Data Carpentry Social Sciences
  workshops (with R) can be found at <a href="https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html">
    the workshop overview site</a>.
</p>

{% elsif site.flavor == "python" %}
<p>
  The setup instructions for the Data Carpentry Social Sciences workshops (with Python)
  can be found at <a href="https://datacarpentry.org/socialsci-workshop/setup-python-workshop.html">
    the workshop overview site</a>.
</p>
{% else %}
{% include warning-flavor.html %}
{% endif %}


{% comment %}
Geospatial workshops
{% endcomment %}

{% elsif site.curriculum == "dc-geospatial" %}
<p>The setup instructions for the Data Carpentry Geospatial workshop can be found at <a href="https://datacarpentry.org/geospatial-workshop/setup.html">the workshop overview site</a>.</p>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
